<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2 class="section-headline"><span>My Profile</span></h2>
    </div>
    <div class="col-xs-4">
      <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; margin-top:80px; z-index:1;"  />
    </div>
    <img src="../../../assets/image/jersey.png" class="img-responsive right" style="position:absolute; width:90%; height:30%; margin-top: 90px; z-index:-2;" />
  </div>

  <hr style="position:absolute; width:88%; height:6px; background-color:#333; z-index:-1; margin-top:-287px;" />

  <div *ngIf = "!dataFetched" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:30px;">
    <div class="col-xs-3"></div>
    <div *ngIf="dataFetched">
      <div class="col-xs-9">
        <div class="panel-group">
          <div class="panel panel-default" style="border:none">
            <div class="panel-body" style="background-color:#ededed; margin-top:">
              <mat-tab-group [selectedIndex]="selectedProfileTab">
                <mat-tab label="Edit">
                  <div style="margin-top:20px;">
                    <div class="alert alert-danger" *ngIf="incorrectPassword">
                      <strong>Incorrect Password!</strong>
                      Please enter the correct password for the current user.
                    </div>
                    <div class="alert alert-success" *ngIf="updateSuccess">
                      <strong>Update Success!</strong>
                    </div>
                  </div>
                  <form (ngSubmit)="onUpdateUserInfo()">
                    <input type="hidden" name="id" [(ngModel)]="user.id" />
                    <div class="bg-info" *ngIf="updateUserInfo">User Info updated.</div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-6">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" />
                        </div>
                        <div class="col-xs-6">
                          <label for="lastName">Last Name</label>
                          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                          <label for="username">Username *</label>
                          &nbsp;
                          <span *ngIf="usernameExists" style="color:red">Username already exists. Choose a different one.</span>
                          <input required="required" type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" />
                    </div>
                    <div class="form-group">
                          <label for="currentPassword">Current Password *</label>
                          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="currentPassword" />
                          <p>Enter your current password to change the E-mail address or password</p>
                    </div>
                    <div class="form-group">
                          <label for="email">Email Address *</label>
                          &nbsp;
                          <span *ngIf="emailExists" style="color:red">Email already exists. Choose a different one.</span>
                          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" />
                          <p>A valid email address. All e-mails from the system will be sent to this address.</p>
                    </div>
                    <div class="form-group">
                          <label for="txtNewPassword">New Password *</label>
                          &nbsp;
                          <span id="checkPasswordMatch" style="color:red"></span>
                          <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" [(ngModel)]="newPassword" />
                    </div>
                    <div class="form-group">
                          <label for="txtConfirmPassword">Confirm New Password *</label>
                          <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" />
                    </div>
                    <button mat-raised-button type="submit" color="primary" id="updateUserInfoButton">Save</button>
                  </form>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
